body {
  font-family: 'cambria', serif;
  background-color: #F4F6FB;
}

p {
  margin-bottom: 0.2rem !important;
}

.topbar,
.logo-topbar,
.navbar {
  background-color: #F4F6FB;
}

.topbar a:hover,
.navbar a:hover,
a:hover {
  color: #F9B234 !important;
}

a {
  color: black;
  text-decoration: none !important;
}

a img:hover {
  opacity: 0.5;
}

.logo-topbar {
  text-align: center;
  height: 100px;
  margin-top: 38px;
}

.logo-topbar img {
  width: 75px;
  margin-top: 12.5px;
}

.navbar {
  margin-top: 135px;
}

.nav-item {
  margin-right: 24px;
  font-weight: 200;
}

.nav-item.active a {
  color: #F9B234 !important;
  font-weight: 600;
}

.nav-link {
  color: black !important;
}

.nav-link span {
  color: #F9B234;
  font-weight: 600;
}

button.navbar-toggler {
  margin-bottom: 50px;
}

/* Breadcrumb */
.breadcrumb-nav {
  height: 50px;
  margin-top: 190px;
  font-size: 10px;
  background-color: #F4F6FB;
}

.breadcrumb-nav-login {
  height: 50px;
  font-size: 10px;
  background-color: #F4F6FB;
}

.border-nav {
  margin-top: -40px;
}

.breadcrumb-item {
  background-color: #F4F6FB;
}


/* Carousel */
.carousel {
  margin-top: 240px;
  height: 450px;
  background-color: #FDEEE5;
}

.carousel h1 {
  font-family: 'Montserat';
}

.carousel p {
  font-weight: 200;
}

.card-contact-us,
.card-product {
  margin-top: 240px !important;
}

.card-login {
  margin-top: 140px !important;
}


.cart-header-judul {
  text-decoration: none;
  color: #144198;
  padding-top: 18px;
}